/*
 * Generic style file for ELEC1601
 *
 * Copyright (C) 2008 Abelardo Pardo, The University of Sydney

 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor
 * Boston, MA  02110-1301, USA.
 *
 * Author: Abelardo Pardo (abelardo.pardo@sydney.edu.au)
 *
 */

@import url('arduino_nature.css');

/* TESTING */
/* div */
/* { */
/*   border: solid 1px black; */
/* } */

/* RGRAPH Gauges! */
div.rgraph_table
{
  display: table;
  width: 100%;
  border-spacing: 1px;
}

div.rgraph_row
{
  display: table-row;
  width: 100%;
}

div.rgraph_cell
{
  display: table-cell;
  width: 50%;
  padding-left: 1em;
  border: solid 1px black;
}

div.rgraph_cell_title
{
  text-align: center;
}

div#d2u-feedback-text
{
  padding-left: 1.5em;
}

.center { 
  text-align: center;          
}
canvas.rgraph
{
  vertical-align: middle;
  margin: 0;
}
/* ---- */

div#top_header {
  height: 50px;
  background-color: white;
  background-image: url("logo.png");
  background-position: left center;
  background-repeat: no-repeat;
  /* padding-left: 110px; */
  display: table;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

div.bodywrapper {
    margin: 0 0 0 0;
}

div.documentwrapper {
    float: none;
    width: 100%;
}

div.body div#elec1601-computer-systems-instructor-site h1,
div.body div#elec1601-computer-systems h1 {
    background-image: url("chip.png");
    padding-left: 55px;
 }

div.body div.week > h1 {
    background-image: url("calendar.png");
    padding-left: 45px;
 }

div.body div.week div.todo > h2 {
    background-image: url("todo.png");
    padding-left: 55px;
 }

div.body div.week div.toknow > h2 {
    background-image: url("toknow.png");
    padding-left: 40px;
 }

div.body div.week div.sessions > h2 {
    background-image: url("sessions.png");
    padding-left: 40px;
 }

.lecture.inclass > h1 {
    background-image: url("clock.png");
    padding-left: 45px;
 }

.laboratory.inclass > h1 {
    background-image: url("lab.png");
    padding-left: 45px;
 }

.lecture.previous > h1,
.laboratory.previous > h1 {
    background-image: url("lightbulb.png");
    padding-left: 30px;
 }

.simpleheading { 
   margin-top: 0px;
   margin-botton: 0px;
   padding-top: 0.75em;
 }

div.body div#elec1601-computer-systems-instructor-site h1,
div.body div#elec1601-computer-systems h1,
div.week > h1,
div.body div.week div.todo > h2,
div.body div.week div.toknow > h2,
div.body div.week div.sessions > h2,
div.lecture.inclass > h1,
div.lecture.previous > h1,
div.laboratory.previous > h1,
div.laboratory.inclass > h1 {
    background-position: left center;
    background-repeat: no-repeat;
 }

