{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'libraries/RGraph.common.core.js' %}"></script>
    <script src="{% static 'libraries/RGraph.common.key.js' %}"></script>
    {% if type == 'EVC_VIDEO' %}
      <script src="{% static 'libraries/RGraph.hbar.js' %}"></script>
    {% elif type == 'EVC_MCQ' or type == 'EVC_COL_EXP' %}
      <script src="{% static 'libraries/RGraph.hprogress.js' %}"></script>
    {% elif type == 'EVC_EXCO' %}
      <script src="{% static 'libraries/RGraph.bipolar.js' %}"></script>
    {% endif %}
  </head>
  <body>
    <div id="rgraph-container">
      {% if type == 'EVC_VIDEO' %}
        <canvas id="dout_canvas" width="600" height="250">[No canvas
          support]</canvas>
      {% elif type == 'EVC_MCQ' or type == 'EVC_COL_EXP' %}
        <canvas id="dout_canvas" width="400" height="90">[No canvas
          support]</canvas>
      {% elif type == 'EVC_EXCO' %}
        <canvas id="dout_canvas" width="600" height="400">[No canvas
          support]</canvas>
      {% endif %}
    </div>

    <script>
      {% if type == 'EVC_VIDEO' %}
        function draw_video_data(canvas_id, pl, pa, lo, en, vtime, n) {
            vmax = Math.max(pl, pa, lo, en);
            title = 'View time: '.concat(vtime, ' seconds.');
            if (n != 1 && n != 0) {
              title = title.concat(' (n = ', n, ')');
            }
            var hbar = new RGraph.HBar({
                id: canvas_id,
                data: [pl, pa, lo, en],
                options: {
                    backgroundGrid: false,
                    xmax: Math.round(1.07 * vmax),
                    scaleDecimals: 1,
                    colors: ['#999999', '#E69F00', '#56B4E9', '#009E73'],
                    colorsSequential: true,
                    labels: ['Play','Pause','Load','End'],
                    labelsAbove: true,
                    labelsAboveDecimals: 0,
                    noxaxis: true,
                    gutterLeft: 55,
                    gutterBottom: 45,
                    xlabels: false,
                    titleXaxis: title
                }
            }).grow();
        };
        $(document).ready(function() {
            draw_video_data('dout_canvas',
                            {{ evc_play }},
                            {{ evc_pause }},
                            {{ evc_load }},
                            {{ evc_end }},
                            {{ evc_seconds }},
                            {{ n }});
        });
      {% elif type == 'EVC_MCQ' %}
        function draw_mcq_data(canvas_id, correct, incorrect, show, n) {
            title = '';
            if (n != 1 && n != 0) {
              title = '(n = '.concat(n, ')');
            }
            var hprogress = new RGraph.HProgress({
                id: canvas_id,
                min: 0,
                max: correct + incorrect + show,
                value: [correct, incorrect, show],
                options: {
                    key: ['Correct','Incorrect','Show'],
                    colors: ['green', 'red', 'yellow'],
                    gutterBottom: 45,
                    title: title,
                    titleY: 90,
                    titleSize: 10
                }
            }).draw();
        };
        $(document).ready(function() {
            draw_mcq_data('dout_canvas',
                            {{ evc_correct }},
                            {{ evc_incorrect }},
                            {{ evc_show }},
                            {{ n }});
        });
      {% elif type == 'EVC_COL_EXP' %}
        function draw_colexp_data(canvas_id, collapse, expand, n) {
            title = '';
            if (n != 1 && n != 0) {
              title = '(n = '.concat(n, ')');
            }
            var hprogress = new RGraph.HProgress({
                id: canvas_id,
                min: 0,
                max: collapse + expand,
                value: [collapse, expand],
                options: {
                    key: ['Expand', 'Collapse'],
                    colors: ['green', 'blue']
                }
            }).draw();
        };
        $(document).ready(function() {
            draw_colexp_data('dout_canvas',
                            {{ evc_col }},
                            {{ evc_exp }},
                            {{ n }});
        });
      {% elif type == 'EVC_EXCO' %}
        function draw_exco_data(canvas_id, correct_l, incorrect_l, labels, n) {
            title = '';
            if (n != 1 && n != 0) {
              title = '(n = '.concat(n, ')');
            }
            var context = document.getElementById(canvas_id).getContext('2d');
            context.font = '12pt Arial';
            lwidth = context.measureText(labels[1]).width;
            var bipolar = new RGraph.Bipolar({
                id: canvas_id,
                right: correct_l,
                left: incorrect_l,
                options: {
                    labels: labels,
                    gutterCenter: Math.round(lwidth) + 10,
                    titleLeft: 'Incorrect',
                    titleRight: 'Correct',
                    gutterBottom: 20,
                    title: title
                }
            }).wave();
        };

        $(document).ready(function() {
            draw_exco_data('dout_canvas',
                   {{ correct_list }},
                   {{ incorrect_list }},
                   {{ labels|safe }},
                   {{ n }});
        });
      {% endif %}
    </script>
  </body>
</html>
