{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
</head>
<body>
<h1>Post data received</h1>

<h2>Fields</h2>
{% if request.POST.length == 0 %}
    <p>No fields received</p>
{% else %}
    <ul>
    {% for k, v in request.POST.items %}
        {% if k != 'csrfmiddlewaretoken' %}
            <li>
	    <b>{{ k }}</b>: {{ v }} 
            </li> 
        {% endif %}
    {% endfor %} 
    </ul>
{% endif %} 

<h2>Files</h2>
{% if fsize == 0 %}
    <p>No files received</p>
{% else %}
    <ul>
    {% for k in files %}
        <li>
        <b>{{ k }}</b>
        </li> 
    {% endfor %} 
    </ul>
{% endif %} 

<h2>META</h2>
  <ul>
    <li>CONTENT_LENGTH: {{ meta.CONTENT_LENGTH }} 
    <li>CONTENT_TYPE: {{ meta.CONTENT_TYPE }} 
    <li>HTTP_ACCEPT_ENCODING: {{ meta.HTTP_ACCEPT_ENCODING }} 
    <li>HTTP_ACCEPT_LANGUAGE: {{ meta.ACCEPT_LANGUAGE }} 
    <li>HTTP_HOST: {{ meta.HTTP_HOST }} 
    <li>HTTP_REFERER: {{ meta.HTTP_REFERER }} 
    <li>HTTP_USER_AGENT: {{ meta.HTTP_USER_AGENT }} 
    <li>QUERY_STRING: {{ meta.QUERY_STRING }} 
    <li>REMOTE_ADDR: {{ meta.REMOTE_ADDR }} 
    <li>REMOTE_HOST: {{ meta.REMOTE_HOST }} 
    <li>REMOTE_USER: {{ meta.REMOTE_USER }} 
    <li>Email: {{ meta.email }} 
    <li>REQUEST_METHOD: {{ meta.REQUEST_METHOD }} 
    <li>SERVER_NAME: {{ meta.SERVER_NAME }} 
    <li>SERVER_PORT: {{ meta.SERVER_PORT }} 
  </ul>

<h2>DEBUG</h2>
  <ul>
    <li>M1: {{ debug.m1 }}</li>
    <li>M2: {{ debug.m2 }}</li>
  </ul>
  </body>
</html>
