<h1>{{ action.name }}</h1>

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="/leco/{{ action.id }}/update/" method="post">
  {% csrf_token %}
  <!-- {% for choice in poll.choice_set.all %} -->
  <!--     <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
  <!--     <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br /> -->
  <!-- {% endfor %} -->
  <input type="submit" value="Done" />
</form>
