{% load staticfiles %}
{% block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block htmltitle %}
    <title>{{ title|striptags }}{{ titlesuffix }}</title>
    {% endblock %}
    {% block css %}
    {# Insert CSSs here #}
    <link rel="stylesheet" href="{% static 'elec1601.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'pygments.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'exco.css' %}" type="text/css" />
    {% endblock %}
    {% block javascripts %}
    {# Insert java scripts here #}
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'exco_grade.js' %}"></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div id="top_header">
      <div>{{ top_title }}</div>
    </div>
    {% endblock %}

    <div class="related">
      <h3>Navigation</h3>
      <ul>
	<li class="root">
	  {% if url_home %}
	    <a href="{{ url_home }}">{{ url_home_text }}</a>
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
	<li class="right">
	  {% if problem_id %}
	    Exercise id: {{ problem_id }}
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
	<li class="right">
	  {% if user_id %}
	    User: {{ user_id }}
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
      </ul>
    </div>

    <div class="document">
      <h1 class="center">Select one of these exercise sequences</h1>

      <p>You currently have {{ choices|length }} exercise sequences that are
      unfinished. Which one would you like to work on right now?</p>
      
      <ol>
      {% for dest_link, description in choices %}
        <li class="exco-choice"><a href="{{ dest_link|escape }}">{{ description }}</a></li>
      {% endfor %}
      </ol>
    </div>

    <div class="related">
      <h3>Navigation</h3>
      <ul>
	<li class="root">
	  {% if url_home %}
	    <a href="{{ url_home }}" target="_blank">{{ url_home_text }}</a>
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
      </ul>
    </div>

    <div class="footer">
        &copy; Copyright {% now "Y" %}, The University of Sydney | Creative Commons License.
    </div>
  </body>
</html>
