<h1>{{ title_msg|safe }}</h1>

{% if seed == "0" %}
  {{ explanation_msg|safe }}
  <a href="{{ path }}">Go back to the exercise</a>
{% else %}
  {% if creating_exercise %}
    {{ question_msg|safe }}

    <form enctype="multipart/form-data" action="{{ path }}?seed={{ seed }}" 
          method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send answer" />
    </form>

    <a href="{{ path }}?seed=0">I would like an explanation about this concept</a>
  {% else %}
    {{ feedback_msg|safe }}
    <p><a href="{{ path }}?seed=0">I would like an explanation about this concept</a></p>
    <p><a href="">Go to the next exercise</a></p>
  {% endif %}
{% endif %}

