{% load staticfiles %}
{% block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block htmltitle %}
    <title>{{ title|striptags }}{{ titlesuffix }}</title>
    {% endblock %}
    {% block css %}
    {# Insert CSSs here #}
    <link rel="stylesheet" href="{% static 'elec1601.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'pygments.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'exco.css' %}" type="text/css" />
    {% endblock %}
    {% block javascripts %}
    {# Insert java scripts here #}
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'exco_grade.js' %}?v=150904"></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div id="top_header">
      <div>{{ top_title }}</div>
    </div>
    {% endblock %}

    <div class="related">
      <h3>Navigation</h3>
      <ul>
	<li class="root">
	  {% if url_home %}
	    <a href="{{ url_home }}">{{ url_home_text }}</a>
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
	<li class="right">
	  {% if problem_id %}
	    Exercise id: {{ problem_id }}
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
	<li class="right">
	  {% if user_id %}
	    User: {{ user_id }}
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
      </ul>
    </div>

    <div class="document">
      {% if render_problem %}
        <div id="exco-embedded-problem-element" class="exco_embedded_problem">
          <iframe onload="javascript:resizeIframe(this);" frameborder="0"
                  id="excoiframe" src="{{ iframe_url }}"></iframe>
        </div>
      {% endif %}
      {% if render_choices %}
        <div class="exco_answer_panel">
          <div class="exco_answer_choices">
          Your answer?
          {% for option in choices %}
             <span class="exco_answer_choice">
               <input class="exco_answer_button" type="radio" name="question"
                      id="answer_{{ forloop.counter0 }}"
                      value="{{ forloop.counter0 }}"/>
               <label for="answer_{{ forloop.counter0 }}">{{ option }}</label>
             </span>
          {% endfor %}
          {% if rseed %}
            <input type="hidden" name="rseed" value="{{ rseed }}">
          {% endif %}
          </div>
          <div class="exco_grade_button_div">
            <button class="exco_grade_button"
                    onClick="exco_grade(this, {{ problem_index }}, '{{ sequence_id }}', {{ rseed }});"><label>Grade</label></button>

            <span style="display: none;" class="exco_grade_button_correct"><label>Correct!</label></span>

            <span style="display: none;" class="exco_grade_button_incorrect"><label>Incorrect</label></span>
            <span style="display: none;"
            class="exco_grade_button_error"><label>Error in the connection!</label></span>

          </div>
        </div>
      {% endif %}
      {% if render_end_msg %}
        <div class="exco_all_completed">You completed the sequence with the
        maximum score</div>
      {% endif %}
      <div class="exco_score_next">
        <div class="exco_score">
          Your score: {{ score }}%
        </div>
        {% if reset_button %}
        <div class="exco_reset">
          <button class="exco_reset_button"
                  onClick="window.location.href='reset_sequence?sequence_id={{ sequence_id }}'">
            <label>Reset problem sequence</label></button>
        </div>
        {% else %}
          <div class="exco_next">
            <button class="exco_next_button"
                    onClick="location.reload(true)"><label>Next exercise</label></button>
          </div>
        {% endif %}
      </div>

    </div>

    <div class="related">
      <h3>Navigation</h3>
      <ul>
    	<li class="root">
	  {% if url_home %}
	    <a href="{{ url_home }}" target="_blank">{{ url_home_text }}</a>
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
      </ul>
    </div>

    <div class="footer">
        &copy; Copyright {% now "Y" %}, The University of Sydney | Creative Commons License.
    </div>
  </body>
</html>
