<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Wrong Exercise</title>
  </head>
  <body>
    <p class="center">Incorrect exercise. Please send us a screen capture
      of this screen together with the URL you loaded.</p>

    <p>Error code: {{ error_msg }}</p>
  </body>
</html>
