{% extends "d2u_base.html" %}
{% load staticfiles %}

{% block d2u_content %}
  <h2 class="center">{{ title }} </h2>

  <h3 class="center">Version: {{ version_id }}</h3>

  <h4 class="center">Author: Abelardo Pardo (Abelardo.pardo@sydney.edu.au)</h4>

  <h5>&copy; Copyright {% now "Y" %}, The University of Sydney | Creative Commons License.</h5>
{% endblock %}
