{% load staticfiles %}
{% block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block htmltitle %}{{ title|striptags }}{{ titlesuffix }}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'elec1601.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'pygments.css' %}" type="text/css" />
    {% block css %}
    {# Insert additional CSSs here #}
    {% endblock %}
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    {% block javascripts %}
    {# Insert additional java scripts here #}
    {% endblock %}
  </head>
  <body>
    {% block header %}
      <div id="top_header">
        <div>{{ top_title }}</div>
      </div>
    {% endblock %}

    {# Bring the navigation code because it needs to appear at the bottom #}
    {% include "navigation.html" %}

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
	    {% block d2u_content %}
	    {% endblock %}
          </div>
        </div>
      </div>
    </div>

    {# Include again the navigation, but forget about showing the user again #}
    {% include "navigation.html" with user_id="" %}

    <div class="footer">
        &copy; Copyright {% now "Y" %}, The University of Sydney | <a
        href="http://creativecommons.org/licenses/by-nc-sa/3.0/au/">Creative
        Commons License BY-NC-SA</a>.
    </div>
  </body>
</html>
