    {% block navigation %}
      <div class="related">
        <h3>Navigation</h3>
        <ul>
	  <li class="root">
	    {% if url_home %}
	      <a href="{{ url_home }}">{{ url_home_text }}</a>
	    {% else %}
	       &nbsp;
	    {% endif %}
	  </li>
          {% block nav_other %}
	  {% endblock %}
	  <li class="right">
	    {% if user_id %}
	      User: {{ user_id }}
	    {% else %}
	       &nbsp;
	    {% endif %}
	  </li>
        </ul>
      </div>
    {% endblock %}
