{% block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block htmltitle %}
    <title>{{ title|striptags }}{{ titlesuffix }}</title>
    {% endblock %}
    {# Insert CSSs here #}
    {# Insert java scripts here #}
  </head>
  <body>
  {% block header %}
  <div id="top_header">
    <div>{{ top_title }}</div>
  </div>
  {% endblock %}

  <div class="document">
    <p>{{ message }}</p>
  </div>

  {% block footer %}
  {% endblock %}
  </body>
</html>
