{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block htmltitle %}
    <title>{{ page_title|title }}</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'elec1601.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'pygments.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        CONTEXT: '{{ context_name }}',
        DATA_CAPTURE_URL: '{{ data_capture_url }}',
        DATA_CAPTURE_METHOD: '{{ data_capture_method }}',
        DATA_CAPTURE_SUBJECT_NAME: '{{ data_capture_subject_name }}',
        DATA_CAPTURE_VERB_NAME: '{{ data_capture_verb_name }}',
        DATA_CAPTURE_OBJECT_NAME: '{{ data_capture_object_name }}',
        DATA_CAPTURE_CONTEXT_NAME: '{{ data_capture_context_name }}'
      };
    </script>
{% if show_dboard == 'Yes' %}
	{% if not no_data %}
    <script type="text/javascript"
            src="{% static 'libraries/RGraph.common.core.js' %}" ></script>
    <script type="text/javascript"
            src="{% static 'libraries/RGraph.gauge.js' %}" ></script>

    {% endif %}
{% endif %}
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'doctools.js' %}"></script>
    <script type="text/javascript" src="{% static 'dynsite.js' %}?ver=160730"></script>
{% if show_dboard == 'Yes' %}
	{% if not no_data %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>

    <script type="text/javascript">
$(document).ready(function() {
    $('.dboard_help').each(function() {
        $(this).qtip({
          content: {
            text: $(this).next('.tooltiptext')
          },
          position: {
          },
          show: 'click'
        });
    });
});
function insert_gauge(id_string, value_1, value_2) {
   var gauge = new RGraph.Gauge(id_string + "_1", 0, 100, value_1)
        .Set('colors.ranges', [[0,50,'red'], [51,75, 'yellow'], [76,100,'green']])
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.bottom', 'You')
        .Set('title.bottom.font', 'Verdana')
        .Set('title.bottom.size', 11)
        .Set('title.bottom.pos', 0.6)
        .Set('border.outer',
        'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();
   var gauge2 = new RGraph.Gauge(id_string + "_2", 0, 100, value_2)
        .Set('colors.ranges', [])
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.bottom', 'Class')
        .Set('title.bottom.font', 'Verdana')
        .Set('title.bottom.size', 11)
        .Set('title.bottom.pos', 0.6)
        .Set('border.outer',
        'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();
        }


$(document).ready(function() {
  insert_gauge("rgraph_ca", {{ dboard_data.0 }}, {{ dboard_data.1 }});
  insert_gauge("rgraph_cb", {{ dboard_data.2 }}, {{ dboard_data.3 }});
  insert_gauge("rgraph_cc", {{ dboard_data.4 }}, {{ dboard_data.5 }});
  insert_gauge("rgraph_cd", {{ dboard_data.6 }}, {{ dboard_data.7 }});
});
    </script>
    {% endif %}
{% endif %}
  </head>
  <body>
    {% block header %}
    <div id="top_header">
      <div>{{ top_title }}</div>
    </div>
    {% endblock %}

    <div class="related">
      <h3>Navigation</h3>
      <ul>
	<li class="root">
	  {% if url_home %}
	    <a href="{{ url_home }}">{{ url_home_text }}</a>
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
	<li class="right">
	  {% if user_id %}
	    User: {{ user_id }}
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
      </ul>
    </div>

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">

            <div class="section" id="d2u-your-data">
              <h1 class="centered">Week {{ time_slot }}</h1>

              <div class="section" id="lecture-data"
                   style="border: solid 1px black;">
                <h2 class="centered">{{ dboard_title }}</h2>
                <div class="reauthoring_form">
                  <form id="d2u_show_dboard_form">
                    See dashboard?
                    <select name="show-dboard">
                      {% if show_dboard == 'Yes' %}
                        <option selected="selected" value="Yes">Yes</option>
                        <option value=" No">No</option>
                      {% else %}
                        <option value="Yes">Yes</option>
                        <option selected="selected" value=" No">No</option>
                      {% endif %}
                    </select>
                    <button class="reauthoring_submit reauthoring_reload">Ok</button>
                  </form>
                  <img class="submit_ok_icon" style="display: none;"
                       src="{% static 'Correct_20x20.png' %}">
                </div>
                {% if show_dboard == 'Yes' %}
	              {% if no_data %}
                  <h3 class="centered">No data collected for this week</h3>
	              {% else %}
                <div class="rgraph_table"> <!-- TABLE BEGIN -->
                    <div class="rgraph_row"> <!-- ROW BEGIN -->
                        <div class="rgraph_cell" style="text-align: center;">
                          <img class="dboard_help"
                               src="{% static 'qmark.png' %}"
                               style="width:20px;height:20px;float:left;"/>
                          <div class="tooltiptext" style="display:none;">The dial on the left shows the percentage of videos that you watched for more than 500 seconds or you clicked more Play than Pauses. The dial on the right is the average of the dials for those students that have interacted with any of the videos.</div>
                          <!-- CELL BEGIN -->
                          <div class="rgraph_cell_title">Watch the videos</div>
                          <canvas width="200" height="200" class="rgraph" id="rgraph_ca_1">[No canvas support]</canvas>
                          <canvas width="200" height="200" class="rgraph" id="rgraph_ca_2">[No canvas support]</canvas>
                        </div> <!-- CELL END -->
                        <div class="rgraph_cell" style="text-align: center;">
                          <img class="dboard_help"
                               src="{% static 'qmark.png' %}"
                               style="width:20px;height:20px;float:left;"/>
                          <div class="tooltiptext" style="display:none;">The dial on the left shows the percentage of questions next to the videos for which you have a number of correct answers larger than solution views plus half the percentage of those with any event. The dial on the right is the average of the dials for those students that have interacted with any of the questions next to the videos.</div>
                          <!-- CELL BEGIN -->
                          <div class="rgraph_cell_title">Answer questions
                next to videos</div>
                          <canvas width="200" height="200" class="rgraph" id="rgraph_cb_1">[No canvas support]</canvas>
                          <canvas width="200" height="200" class="rgraph" id="rgraph_cb_2">[No canvas support]</canvas>
                        </div> <!-- CELL END -->
                    </div> <!-- ROW END -->
                    <div class="rgraph_row"> <!-- ROW BEGIN -->
                        <div class="rgraph_cell" style="text-align: center;">
                          <img class="dboard_help"
                               src="{% static 'qmark.png' %}"
                               style="width:20px;height:20px;float:left;"/>
                          <div class="tooltiptext" style="display:none;">The dial on the left shows the percentage of questions in the course notes for which you have a number of correct answers larger than solution views plus half the percentage of those with any event. The dial on the right is the average of the dials for those students that have interacted with any of the questions in the course notes.</div>
                          <!-- CELL BEGIN -->
                          <div class="rgraph_cell_title">Answer questions in notes</div>
                          <canvas width="200" height="200" class="rgraph" id="rgraph_cc_1">[No canvas support]</canvas>
                          <canvas width="200" height="200" class="rgraph" id="rgraph_cc_2">[No canvas support]</canvas>
                        </div> <!-- CELL END -->
                        <div class="rgraph_cell" style="text-align: center;">
                          <img class="dboard_help"
                               src="{% static 'qmark.png' %}"
                               style="width:20px;height:20px;float:left;"/>
                          <div class="tooltiptext" style="display:none;">The
                            dial on the left shows the maximum score you
                            obtained in the problem sequence for this week.
                            The dial on the right is the average of the dials
                            for those students that have answered at least
                            one exercise of the sequence.
                          </div>
                          <!-- CELL BEGIN -->
                          <div class="rgraph_cell_title">Score in the problem sequence</div>
                          <canvas width="200" height="200" class="rgraph" id="rgraph_cd_1">[No canvas support]</canvas>
                          <canvas width="200" height="200" class="rgraph" id="rgraph_cd_2">[No canvas support]</canvas>
                        </div> <!-- CELL END -->
                    </div> <!-- ROW END -->
                </div> <!-- TABLE END -->
	              {% endif %}
                {% endif %}
              </div><!-- End of lecture-data section -->
              <div class="section" id="suggestions"
                   style="border: solid 1px black;">
                <h2 class="centered">{{ suggestion_title|title }}</h2>
                <div class="reauthoring_form">
                  <form id="d2u_show_suggestions_form">
                    See suggestions?
                    <select name="show-suggestions">
                      {% if show_suggestions == 'Yes' %}
                        <option selected="selected" value="Yes">Yes</option>
                        <option value=" No">No</option>
                      {% else %}
                        <option value="Yes">Yes</option>
                        <option selected="selected" value=" No">No</option>
                      {% endif %}
                    </select>
                    <button class="reauthoring_submit reauthoring_reload">Ok</button>
                  </form>
                  <img class="submit_ok_icon" style="display: none;"
                       src="{% static 'Correct_20x20.png' %}">
                </div>
              {% if show_suggestions == 'Yes'%}
                <div id="d2u-feedback-text" class="activity section">
                  {% if suggestion_data|length == 0 %}
                    <p>No information available yet</p>
                  {% elif suggestion_data|length == 1 %}
                    <p>{{ suggestion_data.0|safe }}</p>
                  {% else %}
                    <ul>
                    {% for comment_txt in suggestion_data %}
                        <li>{{ comment_txt|safe }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endif %}
              </div>
              {% if form %}
              <div class="select-week-dboard-form"
                   style="margin-left: auto;">
                <form style="display:inline-flex;" action="{{ request.get_full_path }}"
                      method="post">{% csrf_token %}
                  {{ form.as_p }}
                  <p style="padding-left:0.5em;"><input type="submit" value="Submit" /></p>
                </form>
              </div>
              {% endif %}
              {% if last_updated %}
              <div>
                  <p>Last updated: {{ last_updated }}</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
        &copy; Copyright {% now "Y" %}, The University of Sydney | Creative Commons License.
    </div>
  </body>
</html>
